.content{
	width: 80%;
	background-color: #1b1b32da;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 1000px;
	color: #f5f6f7;
	font-family: Thoma;
	font-style: italic;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}